tmp/
tmp/TMPDIR/
tmp/TMPDIR/a/
tmp/TMPDIR/a/d/
tmp/TMPDIR/a/d/hello
tmp/TMPDIR/a/e/
tmp/TMPDIR/a/f/
tmp/TMPDIR/a/hello
tmp/TMPDIR/b/
tmp/TMPDIR/b/d/
tmp/TMPDIR/b/e/
tmp/TMPDIR/b/f/
tmp/TMPDIR/c/
tmp/TMPDIR/c/d/
tmp/TMPDIR/c/d/hello
tmp/TMPDIR/c/e/
tmp/TMPDIR/c/f/
